h1 {
  text-align: center;
  position: relative;
  margin-top: 30px; /* Расстояние от верхней границы */
  display: flex;
  align-items: center;
}

h1::before,
h1::after {
  content: "";
  flex: 1;
  border-top: 3px solid black;
}

h1::before {
  margin-right: 5px;
}

h1::after {
  margin-left: 5px;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.sound-button {
  background-color: transparent;
  border: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
  h1 {
  	font-size: 25px;
  	}
    h2 {
  	font-size: 23px;
  	}
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }

  th, td {
    text-align: center;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    background-color: #f2f2f2;
    color: black;
  }
  
span1 {
	color: #005BFF;
	}

span2 {
	color: #269D2D;
	}
	
span3 {
	color: #EC132C;
	}

.footer  {
 border-top: 1px solid black;
 color: gray;
 padding: 10px;
 text-decoration: none;
}

.footer a {
 color: gray;
 text-decoration: none;
}
	