h1 {
  text-align: center;
  position: relative;
  margin-top: 25px; 
  display: flex;
  align-items: center;
}

h1::before,
h1::after {
  content: "";
  flex: 1;
  border-top: 3px solid black;
}

h1::before {
  margin-right: 5px;
}

h1::after {
  margin-left: 5px;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.sound-button {
  background-color: transparent;
  border: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  h1 {
  	font-size: 25px;
  	}
    h2 {
  	font-size: 23px;
  	}
}
